notebook==6.5.5
ipython==8.15.0
jupyter-client==7.4.9

nbgrader==0.8.4            # base, latest 0.8.4
pandas==2.1.0              # base, latest 2.1.0
matplotlib==3.7.2          # base, latest 3.7.2
scikit-learn==1.3.0        # base, latest 1.3.0
seaborn==0.12.2            # base, latest 0.12.2
category-encoders==2.6.2   # base, latest 2.6.2

traitlets==5.9.0

plotly==5.18.0


